@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #000000;
  --coolgray: #d5d6d2;
  --gray-200: #e5e7eb;
  --gray-400: #9ca3af;
  --cobalt: #3a5199;
  --blueback: #27272a;
  --blue500: #3b82f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#root {
  height: 100%;
  width: 100%;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
