:root {
  --white: #ffffff;
  --black: #000000;
  --coolgray: #d5d6d2;
  --gray-200: #e5e7eb;
  --gray-400: #9ca3af;
  --cobalt: #3a5199;
  --blueback: #27272a;
  --blue500: #3b82f6;
}

.LandingPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LandingHeader {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--cobalt);
}

.LandingMain {
  height: calc(100vh - 4rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
